
<div class="card">
    <div class="card-body">
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Paginação</h3>
  </div>
  <div class="panel-body">
  	<table class="table table-striped">
  		<tr>
  			<th>ID</th>
  			<th>Nome</th>
  		</tr>
  		<tr *ngFor="let aluno of alunos">
  			<td>{{aluno.id}}</td>
  			<td>{{aluno.nome}}</td>
  		</tr>
    </table>
  </div>
</div>
</div>
</div>
<br>
	<app-paginacao 
		[qtdPorPagina]="qtdPorPagina" 
		[totalRegistros]="alunosTotal.length"
		[qtdAdjacentes]="3"
		(onPaginate)="paginar($event)">
	</app-paginacao>
  
    