
<style>
  nav{
    margin-left: 20px
  };

</style>






<nav aria-label = "pagination">
  <ul class="pagination">
    <li *ngIf="pagina!==1" class="page-item">
        <a class="page-link" href="#" aria-label="Previous" (click)="paginar(1, $event)">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
            </a>
    </li>
    <li *ngIf="pagina!==1"class="page-item">
    </li>
    <li *ngFor="let i of paginas" 
    	[ngClass]="{'active': i===pagina}" class="page-item">
  		<a href="#" (click)="paginar(i, $event)" class="page-link">{{ i }} </a>
  	</li>
    <li *ngIf="exibirProximo" class="page-item">
      
    </li>
    <li *ngIf="exibirProximo" class="page-item">
      <a href="#" aria-label="Último"
      	(click)="paginar(qtdPaginas, $event)" class="page-link">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
 
</nav>
